body{
 background: linear-gradient(to bottom left, #312a3d 0%, #8a2be2 100%);
  background-repeat:no-repeat;
  height:480px;
 }
.container{
    align-items: center;
    align-content: center;
    margin-top: 10%;
}
.text-center{
  color:white;
  font-size:40px;
  margin-top:50px;
  align-items: center;
  font-family:times new roman;
}
.message1 {
  font-size:25px;
  color:white;
  margin-top:70px;
  font-family:times new roman;
 /* margin-left:420px; */
  text-align:center;
}
.message2{
 text-align:center;
  color:white;
  margin-top:20px;
  font-size:25px;
  margin-left:30px;
  align-items: center;
  font-family:times new roman;
}
button{
 padding: 10px 20px;
    text-align: center;
    text-decoration: none;
   font-size: 16px;
 cursor: pointer;
  border-radius:10px;
  margin-left:45%;

  color:black;
  background-color: white;

  }
button:hover{
  background-color:white;
  box-shadow: 4px 4px 1px #888888;
}


