<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Admin Dashbaord</title>
    {% load static %}
{#    {% load static %}#}
{#    {% load crispy_forms_tags %}#}

    <link rel="stylesheet" href="{% static 'signup.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/dataTables.bootstrap5.min.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css">
</head>

<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light shadow-sm bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
                aria-controls="offcanvasExample">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand fw-bold" href="{% url 'dashboard' %}">Dashboard</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto me-md-4 mb-2 mb-lg-0">
                    <li class="nav-item dropdown d-flex text-light">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <i class="fa-regular fa-user"></i> Admin
                        </a>
                        <ul class="dropdown-menu border-0 bg-light ms-auto">
                            <li><a class="dropdown-item" href="{% url 'profile' %}">Edit Profile</a></li>
                            <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                        </ul>
                </ul>
                </li>
            </div>
        </div>
    </nav>
    <!-- navbar end -->

    <!-- sidebar -->
    <div class="offcanvas offcanvas-start bg-purple text-white sidebar-nav" tabindex="-1" id="offcanvasExample"
        aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header shadow-sm d-block text-center">
            <div class="offcanvas-title" id="offcanvasExampleLabel">
                <a class="navbar-brand fw-bold" href="{% url 'dashboard' %}">Dashboard</a>
            </div>
        </div>
        <div class="offcanvas-body pt-3 p-0">
            <nav class="navbar-dark">
                <ul class="navbar-nav sidenav">
                    <li class="nav-link bordered px-3">
                        <a href="{% url 'dashboard' %}" class="nav-link px-3">
                            <span class="me-2"><i class="bi bi-speedometer2"></i></span>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-link bordered px-3">
                        <a class="nav-link px-3 sidebar-link active" data-bs-toggle="collapse" href="#collapseUsers"
                            role="button" aria-expanded="false" aria-controls="collapseExample">
                            <span class="me-2">
                                <i class="bi bi-people-fill"></i>
                            </span>
                            <span>Users</span>
                            <span class="right-icon ms-auto">
                                <i class="bi bi-chevron-down"></i>
                            </span>
                        </a>
                        <div class="collapse show" id="collapseUsers">
                            <div>
                                <ul class="navbar-nav ps-3">
                                    <li>
                                        <a href="{% url 'addUser' %}" class="nav-link px-3 active">
                                            <span class="me-2"><i class="bi bi-1-circle"></i></span>
                                            <span>Add User</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'User' %}" class="nav-link px-3">
                                            <span class="me-2"><i class="bi bi-2-circle"></i></span>
                                            <span>All Users</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="nav-link bordered px-3">
                        <a href="{% url 'projects' %}" class="nav-link px-3">
                            <span class="me-2"><i class="bi bi-intersect"></i></span>
                            <span>Projects</span>
                        </a>
                    </li>

                    <li class="nav-link bordered px-3">
                        <a href="{% url 'tasks' %}" class="nav-link px-3">
                            <span class="me-2"><i class="bi bi-journal-text"></i></span>
                            <span>Program</span>
                        </a>
                    </li>

                    <li class="nav-link bordered px-3">
                        <a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#collapseMeeting" role="button"
                          aria-expanded="false" aria-controls="collapseExample">
                          <span class="me-2">
                            <i class="bi bi-people-fill"></i>
                          </span>
                          <span>Meeting</span>
                          <span class="right-icon ms-auto">
                            <i class="bi bi-chevron-down"></i>
                          </span>
                        </a>
                      <div class="collapse" id="collapseMeeting">
                        <div>
                          <ul class="navbar-nav ps-3">
                            <!-- <li>
                              <a href="meetingattendees.html" class="nav-link px-3">
                                <span class="me-2"><i class="bi bi-1-circle"></i></span>
                                <span>Schedule a meeting</span>
                              </a>
                            </li> -->
                            <li>
                              <a href="{% url 'create_meeting' %}" class="nav-link px-3">
                                <span class="me-2"><i class="bi bi-2-circle"></i></span>
                                <span>Meeting Minutes</span>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      </li>
                    <li class="nav-link bordered px-3">
                        <a href="{% url 'profile' %}" class="nav-link px-3">
                            <span class="me-2"><i class="bi bi-person"></i></span>
                            <span>Profile</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- sidebar end -->

    <!-- main content -->
    <main class="mt-3 p-2">
        <div class="container">
            <div class="page-title">
                <div style="font-weight: 500;" class="fs-3">Add User</div>
            </div>
            <nav class="mt-2 mb-4" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Add User</li>
                </ol>
            </nav>

            <div class="latest-added mt-5">
                <div class="card border-0 shadow-sm">
                    <div class="card-body">
                        <div class="page-title fs-5 fw-bold mb-4">
                            Add New User
                        </div>
                        <form action="/addUser" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="mb-3 px-2">
                                        <label for="st_name" class="form-label">First_Name</label>
                                        <input class="form-control" placeholder="First name" type="text"
                                            id="st_name" name="first_name">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mb-3 px-2">
                                        <label for="st_name" class="form-label">Last_Name</label>
                                        <input class="form-control" placeholder="Last name" type="text"
                                            id="st_name" name="last_name">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mb-3 px-2">
                                        <label for="st_email" class="form-label">Username</label>
                                        <input class="form-control" placeholder="username" type="email"
                                            id="st_username" name="username">
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="mb-3 px-2">
                                        <label for="st_email" class="form-label">Email</label>
                                        <input class="form-control" placeholder="example@email.com" type="email"
                                            id="st_email" name="email">
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="mb-3 px-2">
                                        <label for="st_email" class="form-label">Password</label>
                                        <input class="form-control" placeholder="password" type="password"
                                            id="st_password" name="password">
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="mb-3 px-2">
                                        <label for="st_email" class="form-label">Account Activation</label>
                                        <input class="form-check"  type="checkbox"
                                            id="st_email" name="email">

                                    </div>
                                </div>


                                <!-- <div class="col-md-4 mt-md-4">
                                    <div class="mb-3 px-2">
                                        <label for="st_image" class="form-label">Image</label>
                                        <input class="form-control" type="file" id="st_image" name="st_image">
                                    </div>
                                </div> -->
                                <div class="col-12 mt-md-4">
                                    <div class="mb-3 px-2">
                                        <div style="display: flex">
                                        <button type="submit" class="btn btn-success" style="width: 9%;display: inline-block;"> Submit </button><br>
                                        <br><button type="reset" class="btn btn-warning" style="width: 9%;display: inline-block; margin-left: 4px;"> Reset </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- main content end-->

    <script src="{% static 'js/jquery-3.5.1.js' %}"></script>
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/dataTables.bootstrap5.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>