<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Form</title>
{#    <link href="../../static/signup.css" rel="stylesheet" >#}
    {% load static %}
    <link rel="stylesheet" href="{% static 'signup.css' %}">
</head>
<body>
<div class="signup-container">

    <form class="signup-form">
        <h2>Register</h2>
        <div class="form-row">
            <div class="form-group">
                <label for="first-name">First Name</label>
                <input type="text" id="first-name" required>
            </div>
            <div class="form-group">
                <label for="last-name">Last Name</label>
                <input type="text" id="last-name" required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label for="email">Email Address</label>
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <input type="email" id="email" required>

            </div>
            <div class="form-group">
                <label for="department">Department</label>
                <select id="department" required>
                    <option value="">Select Department</option>
                    <option value="IT">IT</option>
                    <option value="HR">HR</option>
                    <option value="Finance">Finance</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" required>
            </div>
            <div class="form-group">
                <label for="confirm-password">Confirm Password</label>
                <input type="password" id="confirm-password" required>
            </div>
        </div>
        <button type="submit">Sign Up</button>
<!--        <div class="continueWithGoogle">-->
<!--            <p>Continue with Google: <a href="#">Register</a></p>-->
<!--        </div>-->
        <div class="register-link">
            <p>Already have an account? <a href="{% url 'user_login' %}">user_login</a> </p>
        </div>
    </form>
</div>


</body>
</html>




