<!DOCTYPE html>
<html>
<head>
    <title>New Task Assigned</title>
</head>
<body>
    <p>Dear {{ recipient }},</p>
    <p>You have been assigned a new task in the system. Please find the details below:</p>
    <p>
        <strong>Task Description:</strong> {{ task_description }}<br>
        <strong>Project:</strong> {{ project_name }}<br>
        <strong>Assigned By:</strong> {{ assigned_by }}<br>
        <strong>Due Date:</strong> {{ deadline }}
    </p>
   <p>You can view and manage your tasks by log into the system through this IP 192.168.222.51:9090</p>
    <p>If you have any questions or need further assistance, please do not hesitate to reach out.</p>
    <p>Thank you.</p>
    <p>Best regards,<br>{{ settings.COMPANY_NAME }}</p>
</body>
</html>
