<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Admin Dashbaord</title>
    {% load static %}
    {% load sweetify %}
{#    {% load sweetify_resources %}#}
{#    {% sweetify_resources %}#}
    <link rel="stylesheet" href="{% static 'signup.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/dataTables.bootstrap5.min.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css">
</head>

<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light shadow-sm bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
                aria-controls="offcanvasExample">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand fw-bold" href="{% url 'dashboard' %}">Dashbaord</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto me-md-4 mb-2 mb-lg-0">
                    <li class="nav-item dropdown d-flex text-light">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <i class="fa fa-user" aria-hidden="true" style="color: blueviolet"></i> {{ user.username }}
                        </a>
                        <ul class="dropdown-menu border-0 bg-light ms-auto">
                            <li><a class="dropdown-item" href="{% url 'profile' %}">Edit Profile</a></li>
                            <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                        </ul>
                </ul>
                </li>
            </div>
        </div>
    </nav>
    <!-- navbar end -->

    <!-- sidebar -->
    <div class="offcanvas offcanvas-start bg-purple text-white sidebar-nav" tabindex="-1" id="offcanvasExample"
        aria-labelledby="offcanvasExampleLabel" style="background-color: #281749">
        <div class="offcanvas-header shadow-sm d-block text-center" style="background-color: #281749">
            <div class="offcanvas-title" id="offcanvasExampleLabel">
                <a class="navbar-brand fw-bold" href="{% url 'dashboard' %}">Dashboard</a>
            </div>
        </div>
        <div class="offcanvas-body pt-3 p-0">
            <nav class="navbar-dark">
                <ul class="navbar-nav sidenav">
                    <li class="nav-link bordered px-3">
                        <a href="{% url 'dashboard' %}" class="nav-link px-3">
                            <span class="me-2"><i class="bi bi-speedometer2"></i></span>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-link bordered px-3">
                        <a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#collapseExample"
                            role="button" aria-expanded="false" aria-controls="collapseExample">
                            <span class="me-2">
                                <i class="bi bi-people-fill"></i>
                            </span>
                            <span>Users</span>
                            <span class="right-icon ms-auto">
                                <i class="bi bi-chevron-down"></i>
                            </span>
                        </a>
                        <div class="collapse" id="collapseExample">
                            <div>
                                <ul class="navbar-nav ps-3">
                                    <li>
                                        <a href="{% url 'register' %}" class="nav-link px-3">
                                            <span class="me-2"><i class="bi bi-1-circle"></i></span>
                                            <span>Add User</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'User' %}" class="nav-link px-3">
                                            <span class="me-2"><i class="bi bi-2-circle"></i></span>
                                            <span>All Users</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="nav-link bordered px-3">
                        <a href="{% url 'projects' %}" class="nav-link px-3 active">
                            <span class="me-2"><i class="bi bi-intersect"></i></span>
                            <span>Projects</span>
                        </a>
                    </li>

                    <li class="nav-link bordered px-3">
                        <a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#collapseTask"
                            role="button" aria-expanded="false" aria-controls="collapseExample">
                            <span class="me-2"><i class="bi bi-journal-text"></i></span>
                            <span>Tasks</span>
                            <span class="right-icon ms-auto">
                                <i class="bi bi-chevron-down"></i>
                            </span>
                        </a>
                        <div class="collapse" id="collapseTask">
                            <div>
                                <ul class="navbar-nav ps-3">
                                    <li>
                                        <a href="{% url 'tasks' %}" class="nav-link px-3">
                                            <span class="me-2"><i class="bi bi-1-circle"></i></span>
                                            <span>New Task</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'allTasks' %}" class="nav-link px-3">
                                            <span class="me-2"><i class="bi bi-2-circle"></i></span>
                                            <span>All Task</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>

                    <li class="nav-link bordered px-3">
                        <a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#collapseExample" role="button"
                          aria-expanded="false" aria-controls="collapseExample">
                          <span class="me-2">
                            <i class="bi bi-people-fill"></i>
                          </span>
                          <span>Meeting</span>
                          <span class="right-icon ms-auto">
                            <i class="bi bi-chevron-down"></i>
                          </span>
                        </a>
                      <div class="collapse" id="collapseMeeting">

              <ul class="navbar-nav ps-3">
                  <li>
                      <a href="{% url 'meeting_list' %}" class="nav-link px-3">
                          <span class="me-2"><i class="bi bi-1-circle"></i></span>
                          <span>Meeting List</span>
                      </a>
                  </li>
                  <li>
                      <a href="{% url 'create_meeting' %}" class="nav-link px-3">
                          <span class="me-2"><i class="bi bi-2-circle"></i></span>
                          <span>New Meeting</span>
                      </a>
                  </li>
              </ul>
          </div>
                      </li>
                    <li class="nav-link bordered px-3">
                        <a href="{% url 'profile' %}" class="nav-link px-3">
                            <span class="me-2"><i class="bi bi-person"></i></span>
                            <span>Profile</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- sidebar end -->

    <!-- main content -->
    <main class="mt-3 p-2">
        <div class="container">
            <div class="page-title">
                <div style="font-weight: 500;" class="page-title fs-5 fw-bold mb-4">Projects</div>
            </div>
            <nav class="mt-2 mb-4" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'projects' %}">Project</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Update Project</li>
                </ol>
            </nav>
            <div class="row" style="margin-left: 10%">
                <div class="col-md-9">
                    <div class="add-dept mt-5">
                        <div class="card border-0 shadow-sm">
                            <div class="card-body">
                                <div class="page-title fs-5 fw-bold mb-4">
                                    Add New Project
                                </div>
                                <form method="post">
                                    {% csrf_token %}
{#                                    {{ form.as_p }}#}
                                    <div class="row">
                                        <div class="col-md-12">


                                            <div class="mb-3 px-2">
                                                <label for="pg_name" class="form-label">Project_Nane</label>
                                                <input class="form-control" value="{{ project.project_name }}" type="text" id="pg_name"
                                                    name="project_name" required>
                                            </div>
                                            <div class="mb-3 px-2">
                                                <label for="cat_code" class="form-label">Project Manager</label>
                                                <input class="form-control" value="{{ project.project_manager }}" type="text" id="cat_code"
                                                    name="project_manager" required>
                                            </div>
                                            <div class="mb-3 px-2">
                                                <label for="cat_name" class="form-label">Project_Members</label>
                                                {% for tag in project.ProjectM_tags %}<input class="form-control tagify__tag"  value="{{ tag.value }}" {% endfor %} required id="cat_name"
                                                    name="ProjectM_tags">
                                            </div>

                                            <div class="col-12 mt-md-4">
                                                <div class="mb-3 px-2">
                                                    <button type="submit" class="btn btn-success" id="submit"> Update </button><br>
{#                                                    <br><button type="reset" class="btn btn-warning"> Reset </button>#}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
{#                <div class="col-md-7">#}
{#                    <div class="all-student mt-5">#}
{#                        <div class="card border-0 shadow-sm">#}
{#                            <br class="card-body">#}
{#                                <div class="page-title fs-5 fw-bold mb-4">#}
{#                                    All Projects#}
{#                                </div>#}
{#                                <div class="row" >#}
{#                                    <div class="col-sm-12 col-md-6">#}
{#                                        <div class="dataTables_length" id="datatable_length">#}
{#                                            <div class="me-2" style="display: inline-block;">#}
{#                                                <label>Show</label>#}
{#                                            </div>#}
{##}
{#                                                <select name="datatable_length" aria-controls="datatable" class="form-select form-select-sm" style="display: inline-block; width: 15%;">#}
{#                                                    <option value="10">10</option>#}
{#                                                    <option value="25">25</option>#}
{#                                                    <option value="50">50</option>#}
{#                                                    <option value="100">100</option>#}
{#                                                </select>#}
{##}
{##}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="col-sm-12 col-md-6">#}
{#                                        <div id="datatable_filter" class="dataTables_filter" style="margin-left: 30%">#}
{#                                            <div class="me-2" style="display: inline-block;">#}
{#                                                <label>Search</label>#}
{#                                            </div>#}
{#                                            <input type="search" class="form-control form-control-sm" placeholder="" aria-controls="datatable" style="display: inline-block; width: 60%;">#}
{##}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div></br>#}
{#                                <table id="datatable" class="table table-striped table-bordered" style="width:100%">#}
{#                                    <thead>#}
{#                                        <tr>#}
{#                                            <th>N0</th>#}
{#                                            <th>project_Name</th>#}
{#                                            <th>Project Manager</th>#}
{#                                            <th>Project Members</th>#}
{#                                            <th>Action</th>#}
{#                                        </tr>#}
{#                                    </thead>#}
{#                                    <tbody>#}
{#                                     {% for project in projects %}#}
{#                                        <tr>#}
{#                                            <td>{{ forloop.counter }}</td>#}
{#                                            <td>{{ project.project_name }}</td>#}
{#                                            <td>{{ project.project_manager }}</td>#}
{#                                            <td>#}
{##}
{#                                            {% for tag in project.ProjectM_tags %}#}
{#                                                <span class="tagify__tag" style="color: #ffffff;background-color: #198754;border-radius: 10px;padding: 5px;font-weight: 700">{{tag.value}}</span>#}
{#                                            {% endfor %}#}
{#                                            </td>#}
{##}
{#                                            <td>#}
{#                                                <a href="#" class="btn btn-sm btn-info">#}
{#                                                    <i class="bi bi-eye"></i>#}
{#                                                </a>#}
{#                                                <a href="#" class="btn btn-sm btn-warning">#}
{#                                                    <i class="bi bi-pencil-square"></i>#}
{#                                                </a>#}
{#                                                <a href="{% url 'delete_project' project.id %}" class="btn btn-sm btn-danger">#}
{#                                                    <i class="bi bi-trash-fill"></i>#}
{#                                                </a>#}
{#                                            </td>#}
{#                                        </tr>#}
{#                                      {% endfor %}#}
{#                                    </tbody>#}
{#                                </table>#}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>
    {% sweetify %}
    <!-- main content end-->
    <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify"></script>
    <script>
        // Initialize Tagify on the input element with class "tagify"
        var input = document.querySelector('input[name=ProjectM_tags]');
        new Tagify(input);
    </script>
    <script src="{% static 'js/jquery-3.5.1.js' %}"></script>
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/dataTables.bootstrap5.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

    <script>
        $(document).ready(function () {
            $('#datatable').DataTable();
        });
    </script>

    <script>
        document.querySelectorAll('.delete-project-btn').forEach(button => {
        button.addEventListener('click', function(event) {
            event.preventDefault(); // Prevent default link behavior

            const projectId = this.getAttribute('data-project-id');
            fetch(`/delete_project/${projectId}/`, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}', // Include CSRF token
                    'Content-Type': 'application/json'
                },
            })
            .then(response => {
                if (response.ok) {
                    // Reload page or update UI as needed
                    window.location.reload(); // Example: reload page
                } else {
                    console.error('Error deleting project:', response.statusText);
                }
            })
            .catch(error => console.error('Error deleting project:', error));
        });
    });
    </script>
{#    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>#}
{#    <script>#}
{#        $("#submit").click(function(){#}
            {#event.preventDefault();#}
{#            var pg_name = $("#pg_name").val();#}
{#            var cat_code = $("#cat_code").val();#}
{#            var cat_name = $("#cat_name").val();#}
{##}
{#            if(pg_name == '' || cat_code == '' || cat_name == ''){#}
{#                swal({#}
{#                      title: "Empty Fields!!",#}
{#                      text: "Please provide missing information!!",#}
{#                      icon: "warning",#}
{#                      button: "OK",#}
{#                    });#}
{#            }else{#}
{#                swal({#}
{#                      title: "Project creation!!",#}
{#                      text: "Project Created Successfully.",#}
{#                      icon: "success",#}
{#                      button: "ok",#}
{#                    });#}
{#            }#}
{##}
{##}
{#        })#}
{#    </script>#}

</body>

</html>